.main {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.h1-small {
  font-size: 3rem;
}

.logo-wrapper {
  display: inline-block;
  position: relative;
  font-weight: 400;
  color: white;
  background-color: black;
  border-radius: 4px;
  padding: 1rem 2rem;
  margin-bottom: 3rem;
}
